@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #fff url(../imagens/fundo.png) repeat-x;
}
body.home #navigation a#home,
body.brasil #navigation a#brasil,
body.internacional #navigation a#internacional,
body.fotos #navigation a#fotos {
    color: #fff;
    background: #de003e;
    cursor: text;
}
div#container {
    width: 750px;
    margin: 0 auto;
    
}
header#top {
    height: 150px;
    /* border: 1px solid red; */
    background: url(../imagens/detalhe-topo.png) no-repeat right top;
    padding-top: 35px;
}
header #navigation {
    background-color: #b10333;margin-top: 30px;
    float: left;    
}
header #navigation li {
    float: left;
}
header #navigation li a {
    color: #fff;
    text-decoration: none;
    font-size: 0.9em; 
    padding: 0.5em 1.3em;
    font-weight: bold;
    line-height: 2.1em;
    background: url(../imagens/divisor.png) no-repeat left center;
}
header #navigation li a:hover {
    color: #69001d;
}
header#top ul .first a {
    background: none;
}
.logo {
    width: 152px;
    height: 66px;
    background: url(../imagens/logo.png) no-repeat center;
    text-indent: -3000px;
}
ul {
    list-style: none;
}
/* leyout configs */
div#content {
    background: #f5f5f5;
    margin-top: 60px;
}
div#sidebar {
    width: 180px;
    float: left;
    margin: 0px 0px 20px -750px;
}
#three-columns div#primary {
    width: 270px;
    float: left;
    margin: 0px 0px 20px 195px;
}
#two-columns div#primary {
    width: 555px;
    float: left;
    margin-left: 195px;
}
#one-column div#primary {
    width: 750px;
    margin: 0px 0px 20px 0px;
}
div#secondary {
    width: 270px;
    float: left;
    margin: 0px 0px 20px 15px;
}
.box {
    background: #f3f3f3 url(../imagens/fundo-caixa.png);
    margin: 10px 0px;
    padding: 5px;
}
.box-content {
    background: #fff;
    padding: 5px;
    margin-top: 5px;
}
/* Sidebar properties */
#sidebar ul a  {
    text-decoration: none;
    font-size: 0.9em;
    padding: 3px;
    display: block;
    line-height: 30px;
    font-weight: bold;
    color: #000;
    border-bottom: 1px solid #f3f3f3;
}
#sidebar ul a:hover {
    background: #7e7e7e;
    color: #fff;
}
/* End of sidebar properties */
/* Form properties */
label {
    display: block;
    cursor: pointer;
    font-weight: bold;
}
input {
    font-size: 0.9em;
    background: #fff;
    padding: 5px;
    width: 125px;
}
input.submit {
    width: 80px;
    color: #fff;
    background: #294c71;
    border: 2px solid #23405f;
    padding: 5px;
    cursor: pointer;
}
/* End of form properties */
/* Heading-properties */
h3 {
    text-transform: uppercase;
    display: inline;
    font-size: 0.8em;
    padding: 3px;
}
.news h3 {
    background: #d3003e;
    color:#fff;
}
.interview h3 {
    background: #d3003e;
    color:#fff;
}
/* News list properties */
#news-list li {
    padding: 2px;
    border-bottom: 1px solid #ccc;
    height: 62px;
}
#news-list li a img {
    float: left;
    margin: 5px;
}
#news-list li a {
    text-decoration: none;
    color: #000;
}
#news-list li h3 {
    font-size: 0.8em;
}
#news-list li p {
    font-size: 0.8em;
    padding-top: 3px;
}
#news-list li:hover {
    background: #e4e4e4;
    cursor: pointer;
}

/* End of news list properties */
/* End of heading-properties */
/* image-properties */
img.main-image {
    border: 3px solid #dfdfdf;
    width: 98%;
}
/* End of image properties */
h2 {
    font-size: 1.1em;
    background: #294c71;
    color: #fff;
    padding: 5px;
}
div#footer {
    clear: both;
    background-color: grey;
    padding: 20px;
    background: #294c71;
    text-align: center;
    font-size: 1.2em;
    color: #fff;
}